arrow==0.12.1
backports.functools-lru-cache==1.5
certifi==2018.1.18
chardet==3.0.4
idna==2.6
python-dateutil==2.6.1
requests==2.18.4
six==1.11.0
slacker==0.9.60
urllib3==1.22
python-dotenv==0.10.2
packaging==19.0
